<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.quick4j.upm.paths.entity.ActionsInPathMapper">
    <resultMap id="acctionResult" type="com.github.quick4j.upm.actions.entity.Action">
        <result column="id" property="id"/>
        <result column="action_name" property="name"/>
        <result column="action_icon" property="icon"/>
    </resultMap>

    <resultMap id="actionInPathResult" type="com.github.quick4j.upm.paths.entity.ActionsInPath">
        <result column="id" property="id"/>
        <result column="path_id" property="pathId"/>
        <result column="action_id" property="actionId"/>
        <result column="action_code" property="actionCode"/>
        <result column="application_id" property="applicationId"/>
    </resultMap>

    <select id="selectList" resultMap="actionInPathResult" parameterType="map">
        select id, path_id, action_id, action_code, application_id
        from upm_actionInPath
        <where>
            <if test="pathId != null">
                path_id = #{pathId}
            </if>
            <if test="actionId != null">
                action_id = #{actionId}
            </if>
        </where>
    </select>

    <select id="selectListByIds" resultMap="actionInPathResult" parameterType="List">
        select id, action_id, action_code, path_id, application_id
        from upm_actionInPath
        <where>
            <foreach collection="list" item="id" index="index" open="(" separator="or" close=")">
                path_id = #{id}
            </foreach>
        </where>
    </select>

    <select id="selectAssignedButton" resultMap="acctionResult" parameterType="string">
        select t1.id, t1.action_name, t1.action_icon
        from upm_actions t1
        join (select action_id, path_id from upm_actionInPath where path_id = #{id}) t2 on t1.id = t2.action_id
    </select>

    <insert id="insert" parameterType="com.github.quick4j.upm.paths.entity.ActionsInPath">
        insert into upm_actionInPath(
            id,
            action_id,
            action_code,
            path_id
            <if test="applicationId != null and applicationId != ''">
                ,application_id
            </if>
        )
        values(#{id}, #{actionId}, #{actionCode}, #{pathId}
            <if test="applicationId != null and applicationId != ''">
              , #{applicationId}
            </if>
        )
    </insert>
</mapper>