<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.quick4j.upm.roles.entity.RoleMapper">
    <resultMap id="roleResult" type="com.github.quick4j.upm.roles.entity.Role">
        <result column="id" property="id"/>
        <result column="role_name" property="name"/>
        <result column="role_desc" property="desc"/>
    </resultMap>

    <select id="selectOne" resultMap="roleResult" parameterType="string">
        select id, role_name, role_desc
        from upm_roles
        where id = #{id}
    </select>

    <select id="selectListByIds" resultMap="roleResult" parameterType="List">
        select id, role_name, role_desc
        from upm_roles
        <where>
            <foreach collection="list" item="id" index="index" open="(" separator="or" close=")">
                id = #{id}
            </foreach>
        </where>
    </select>

    <select id="selectList" resultMap="roleResult" parameterType="map">
      select id, role_name, role_desc
      from upm_roles
      <where>
          <if test="name !=null and name != ''">
              role_name = #{name}
          </if>
      </where>
    </select>

    <select id="selectPaging" resultMap="roleResult" parameterType="map">
        select id, role_name, role_desc
        from upm_roles
        <where>
            <if test="name !=null and name != ''">
                role_name = #{name}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.github.quick4j.upm.roles.entity.Role">
        insert into upm_roles(
          id
          ,role_name
          <if test="desc != null and desc != ''">
              ,role_desc
          </if>
          <if test="applicationId != null and applicationId != ''">
              ,application_id
          </if>
        )
        values (
          #{id}
          ,#{name}
          <if test="desc != null and desc != ''">
              ,#{desc}
          </if>
          <if test="applicationId != null and applicationId != ''">
              ,#{applicationId}
          </if>
        )
    </insert>

    <update id="updateOne" parameterType="com.github.quick4j.upm.roles.entity.Role">
        update upm_roles
        <set>
            <if test="name != null and name != ''">
                role_name = #{name},
            </if>
            <if test="desc != null">
                role_desc = #{desc},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteOne" parameterType="string">
        delete from upm_roles where id = #{id}
    </delete>
</mapper>